Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hinting: 1
Xft.hintstyle: hintfull

Xcursor.theme:	 Neutral
! *font: -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1

! terminal colours
*foreground:#CCCCCC
*background:#1b1d1e

!black darkgray
*color0:    #1B1D1E
*color8:    #808080
!darkred red
*color1:    #FF0044
*color9:    #F92672
!darkgreen green
*color2:    #82B414
*color10:   #A6E22E
!darkyellow yellow
*color3:    #FD971F
*color11:   #E6DB74
!darkblue blue
*color4:    #266C98
*color12:   #7070F0
!darkmagenta magenta
*color5:    #AC0CB1
*color13:   #D63AE1
!darkcyan cyan
*color6:    #AE81FF
*color14:   #66D9EF
!gray white
*color7:    #CCCCCC
*color15:   #F8F8F2

! Google's Hack font patched with icons
URxvt.font: xft:Knack Nerd Font:size=8:antialias=true
URxvt.letterSpace:      0

URxvt.depth: 32
URxvt*scrollBar: false
URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt*saveLines: 1024
URxvt*mouseWheelScrollPage: true
URxvt.transparent: true
URxvt.shading: 15

URxvt.url-select.launcher: /usr/bin/chromium
URxvt.url-select.underline: true

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:                   #1b1d1e, #f8f8f2, #1b1d1e, #141411, #f8f8f2
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   #1b1d1e, #f92672, #1b1d1e, #f92672, #f8f8f2
! "Color scheme for active row" Set from: File
rofi.color-active:                   #1b1d1e, #a6e22a, #1b1d1e, #141411, #a6e22a
! "Color scheme window" Set from: File
rofi.color-window:                   #1b1d1e, #002b36, #f92672
! "Separator style (none, dash, solid)" Set from: File
rofi.separator-style:                solid
